<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adding Property</title>
  </head>
  <body>

    <form action="/properties/add_property" method="post">
      Image URL:<br>
      <input type="text" name="imgsrc" value="please enter image URL here"><br>
      Property Description:<br>
      <input type="text" name="description" value="please describe your property here"><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
