<head>
  <title>EarthBnB database admin  </title>
</head>
<body>
  <section align="center">
    <h1>Choose an action</h1>
    <form action="/dbs/purge_tables" method="get">
      <button type="submit">Purge Tables</button>
    </form>
    <span><form action="/dbs/destroy_tables" method="get">
      <button type="submit">Destroy Tables</button>
    </form></span>
    <span><form action="/dbs/build_tables" method="get">
      <button type="submit">Build Tables</button>
    </form></span>
    <span><form action="/dbs/populate_tables" method="get">
      <button type="submit">Populate Tables</button>
    </form></span>
  </section>

</body>
