<!DOCTYPE html>
<hmtl>
<body>
  <form method="get" action="/signup">
    <button type="submit">Sign up</button>
  </form>  
  <% results.forEach(function(property) { %>
    <h1><%= property.description %><h1>
    <img src=<%= property.imgsrc %>>
  <% }); %>
</body>
</html>
