<head>
  <title>Earthbnb</title>
</head>
<body>
  <section align="center">
    <h1 >Welcome to Earthbnb</h1>
    <h3>Please enter your details below:</h1>

    <form action="/session/add_user" method="post" align="center">
      <label for="username">Usename:</label>
        <input type="text" name="username" placeholder="Enter your username" class="e"></input></br>
      </label>
      <label for="password">Password:</label>
        <input type=password name="password" placeholder="Enter your password" class="e"></input></br>
      </label>
      <input type="submit" value="submit" style=style="background-color:#bab7bc;"></input>
    </form>
  </section>

</body>
